
.colorRextd{

    border: none;
    padding-bottom: 10px;

}


.box {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: gray; /* Adjust background color as needed */
    margin-bottom: 10px; /* Adjust margin-bottom as needed to create space */
}